.manager-menu {
  padding-top: 50px;
}
.manager-menu ul {
  list-style: none;
  display: inline-flex;
  margin-left: 100px;
  margin-top: 80px;
}

.manager-menu li {
  margin-right: 200px;
  padding: 40px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

.manager-menu button:hover {
  background-color: rgb(235, 130, 104);
}

.manager-menu button {
  background-color: rgb(235, 93, 58);
  color: aliceblue;
  width: 200px;
  margin-left: 100px;
  border-radius: 8px;
  border: none;
}

.manager-component {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

@media (max-width: 1250px) {
  .manager-menu button {
    width: 200px;
    margin-left: 50px;
  }
  .manager-menu ul {
    margin-left: 0px;
    margin-top: 120px;
  }
}

@media (max-width: 900px) {
  .manager-menu ul {
    margin-left: -50px;
    margin-top: 120px;
  }
}

@media (max-width: 850px) {
  .manager-menu ul {
    /* flex-direction: column; */
    margin-left: -50px;
  }
  .manager-menu button {
    width: 150px;
    margin-left: 30px;
  }
  .manager-menu li {
    padding: 30px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .manager-menu ul {
  }
  .manager-menu li {
    margin-top: 10px;
    margin-left: -20px;
  }
  .manager-menu button {
    margin-top: 10px;
    width: 100px;
  }
}
