.navbar-list {
  background-color: rgba(165, 11, 11, 0.7);
  margin-left: -20px;
  width: 400px;
  height: 710px;
  overflow: hidden;
}
.navbar-list ul {
  list-style: none;
  margin-top: 16px;
  padding-top: 150px;
}

.navbar-list li {
  padding: 8px;
  text-align: right;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar-list li:hover {
  background-color: rgb(97, 1, 1);
  border-radius: 8px;
  padding: 20px;
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .navbar-list {
    width: 300px;
  }
}
