.tapbar-container {
  width: 1296px;
  height: 130px;
  background-color: brown;
  margin: -8px;
  margin-top: -20px;
}

h3 {
  position: absolute;
  top: 0px;
  left: 160px;
  font-size: 32px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: aliceblue;
}

.tapbar-buttons {
  float: right;
  margin-right: 100px;
  margin-top: 40px;
}

.tapbar-buttons button {
  margin-left: 20px;
  height: 60px;
  width: 60px;
  border-radius: 20px;
  border: none;
  font-size: 30px;
}
.tapbar-buttons button:hover {
  background-color: rgb(247, 181, 177);
}

.tapbar-buttons input {
  margin-right: 100px;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

.search {
  position: absolute;
  right: 300px;
  top: 40px;
}

.favoritos,
.carrinho,
.perfil {
  size: 16px;
}
